<!--contenido-->
<div class="crearproducto">
    <div class="header">
        <div class="subheader1">
            <h2>Crear producto</h2>
        </div>
        <div class="imput-secods">
            <button class="button-back-save"> Atrás</button>
            <button class="button-back-save"> Crear</button>
        </div>       
    </div>
    <div class="tipoproducto">
        <span> Tipo</span>
        <select name="tipodeproducto" id="tipodeproducto">
            <option value="">Producto</option>
            <option value="">Servicio</option>
        </select>
    </div>
    <div class="containerprod">
        <div class="nombreprod">
            <span>Nombre</span>
            <input type="text" required="required">
        </div>
        <div class="modelo">
            <span>Modelo</span>
            <input type="text" required="required">
        </div>
        <div class="marca">
            <span>Marca</span>
            <input type="text">           
        </div>
        <div class="descripcion">
            <span>Descripción</span>
            <textarea name="descripcionprod" id="descripcionprod" cols="50" rows="3"></textarea>
        </div>
    </div> 
    <div class="valorventas">
        <div class="venta1">
            <span>Precio venta 1</span>
            <input type="text">
        </div>
        <div class="venta2">
            <span>Precio venta 2</span>
            <input type="text">
        </div>
        <div class="venta3">
            <span>Precio venta 3</span>
            <input type="text">
        </div>        
    </div>
    <div class="iva">
        <span>IVA</span>
        <select name="IVA" id="IVA">
            <option value="">No gravado</option>
            <option value="">IVA 0%</option>
            <option value="">IVA 5%</option>
            <option value="">IVA 19%</option>
        </select>
    </div>
</div>