.crearproducto{
    padding: 20px 20px;
    margin-left: 230px;
    margin-top: -600px;
    height: 91vh;
    width: 1200px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
}

.crearproducto div{
    padding: 10px 0;
}

.imput-secods{
    width: 180px;
    display: flex;
    justify-content: space-around;
}

.crearproductocont{
    display: flex;
    justify-content: space-between;
    width: 700px;
    max-width: 80%;
}

select{
    margin: 0 10px;
    border-radius: 5px;
}

span{
    font-weight: 650;
}

.header{
    display: flex;
    justify-content: space-between;
}

.button-back-save{
    background-color: var(--botones);
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 10px;
}

.containerprod{
    display: flex;
    flex-wrap: wrap;
    width: 1050px;
    justify-content: space-between;
}

.containerprod input{
    border: none;
    border-bottom: 1px solid black;
    width: 250px;
}

.containerprod span{
    margin-right: 10px;
}

.descripcion {
    display: flex;
    align-items: first baseline;
}

/* Estilos para hacer responsive */
@media only screen and (max-width: 600px) {
    .crearproducto{
      margin-left: -150px;
    }

    .header{
        display: flex;
        flex-direction: column;
    }

    .containerprod{
        display: flex;
        flex-direction: column;
    }

    .nombreprod,
    .modelo,
    .marca,
    .descripcion{
        display: flex;
        flex-direction: column;
    }

    textarea{
        width: 250px;
    }
  
    h2{
      font-size: 19px;
    }
  
    .crearproducto input{
      width: 250px;
    }

    .crearproductocont{
        flex-direction: column;
        width: 260px;
        align-items: flex-start;
    }

    .crearproductoconten{
        width: 250px;
    }
  }