<!--contenido-->
<div class="saldoinicial">
    <h2>Saldos iniciales N° 001</h2>
    <div class="saldoinicialconten">
        <span>Fecha de elaboración </span>
        <input type="date" required="required" class="input-date">
    </div>
    <div class="saldoinicialcont">
        <div class="usuario">
            <span>Usuario: </span>
            <span class="user">{{nombres + " " + apellidos}}</span>
        </div>
        <div class="imput-secods">
            <button class="button-back-save"> Atrás</button>
            <button class="button-back-save"> Guardar</button>
        </div>
    </div>
    <div class="table fluid">
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th class="tamaño2">
                        Código
                    </th>
                    <th class="tamaño3">
                        Cuenta contable
                    </th>
                    <th class="tamaño3">
                        Tercero
                    </th>
                    <th class="tamaño3">
                        Descripción
                    </th>
                    <th class="tamaño2">
                        Débito
                    </th>
                    <th class="tamaño2">
                        Crédito
                    </th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable">
                    <td class="tamaño2 td">
                        <input class="tamaño2" type="text" required="required" (keydown.enter)="filtrarc(dato)" [(ngModel)]="dato">
                    </td>
                    <td class="codigo tamaño3" style="color: black;">
                        {{selectedCuenta}}
                    </td>
                    <td>
                        <input class="tamaño3" type="text" (keydown.enter)="filtrarpro(dato2)" [(ngModel)]="dato2">
                    </td>
                    <td class="tamaño3">
                        <input class="tamaño3" type="text">
                    </td>
                    <td class="tamaño2">
                        <input class="tamaño2" type="number">
                    </td>
                    <td class="tamaño2">
                        <input class="tamaño2" type="number">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="formulario" *ngIf="showFormulario === true"><!--Inicio despliegue de cuentas-->
        <table class="tabla__cuenta codigo" (click)="escoger(itemc)" *ngFor="let itemc of cuentas">
            <div class="escoger">
                <tbody>
                    <option>
                        <tr>
                            <th class="tamaño pointer">{{itemc.codigo}}</th>
                        </tr>
                    </option>
                </tbody>
            </div>
            <div class="escoger">
                <tbody>
                    <option>
                        <tr>
                            <th class="pointer">{{itemc.nombre}}</th>
                        </tr>
                    </option>
                </tbody>
            </div>
        </table>
    </div><!--Final despliegue de cuentas-->
    <div class="formulario2" *ngIf="showFormulariocli === true">
        <table class="tabla__cuenta codigo" (click)="escogerpro(itempro)" *ngFor="let itempro of proveedor">
            <div class="escoger">
                <tbody>
                    <option>
                        <tr>
                            <th class="tamaño pointer">{{itempro.razon_social}}{{itempro.nombre + " " + itempro.apellido}}</th>
                        </tr>
                    </option>
                </tbody>
            </div>
        </table>
    </div>
    <div class="foot">
        <div class="add">
            <i class="fa-solid fa-circle-plus pointer"></i>
        </div>
        <div class="secondinfor">
            <div class="total">
                <tr class="total2">
                    <th>Total</th>
                    <th>0.00</th>
                    <th>0.00</th>
                </tr>
            </div>
            <div class="total">
                <tr class="total2">
                    <th>Diferencia</th>
                    <th> </th>
                    <th>0.00</th>
                </tr>
            </div>
        </div>
    </div>
</div>
