<div class="saldoinicial">
    <h2>Saldos iniciales N° 001</h2>
    <div class="saldoinicialconten">
        <span>Fecha de elaboración </span>
        <input type="date" required="required" class="input-date" [(ngModel)]="obj_saldoinicial.fecha">
        <span style="color: red;" *ngIf="validar_fecha === false">Seleccione la fecha</span>
    </div>
    <div class="saldoinicialcont">
        <div class="usuario">
            <span>Usuario: </span>
            <span class="user">{{nombres + " " + apellidos}}</span>
        </div>
        <div class="imput-secods">
            <button class="button-back-save"> Atrás</button>
            <button class="button-back-save" (click)="validar()"> Guardar</button>
        </div>
    </div>
    <div class="table fluid">
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th class="tamaño2">
                        Código
                    </th>
                    <th class="tamaño3">
                        Cuenta contable
                    </th>
                    <th class="tamaño3">
                        Tercero
                    </th>
                    <th class="tamaño3">
                        Descripción
                    </th>
                    <th class="tamaño2">
                        Débito
                    </th>
                    <th class="tamaño2">
                        Crédito
                    </th>
                </tr>
            </thead>
            <tbody class="tablefacts"> <!--Primer fila-->
                <tr class="infotable">
                    <td class="tamaño2 td">
                        <input class="tamaño2" name="dato" type="text" required="required" (keydown.enter)="filtrarc(dato)" [(ngModel)]="dato">
                        <span style="color: red;" *ngIf="validar_codigo === false">Insertar codigo</span>
                    </td>
                    <td class="codigo tamaño3" style="color: black;" [(ngModel)]="obj_saldoinicial.fo_cuenta">
                        {{selectedCuenta}}
                        <span style="color: red;" *ngIf="validar_cuenta === false">Insertar cuenta</span>
                    </td>
                    <td  class="codigo tamaño3">
                        <input class="tamaño3" name="dato" type="text" required="required" (keydown.enter)="filtrarpro(pro)" [(ngModel)]="pro">
                        <span style="color: red;" *ngIf="validar_proveedor === false">Insertar proveedor</span>
                    </td>
                    <td class="tamaño3">
                        <input class="tamaño3" name="descripcion" type="text" [(ngModel)]="obj_saldoinicial.descripcion">
                    </td>
                    <td class="tamaño2">
                        <input class="tamaño2" name="debito" type="number" [(ngModel)]="obj_saldoinicial.debito" (ngModelChange)="calcularTotales()">
                    </td>
                    <td class="tamaño2">
                        <input class="tamaño2" name="credito" type="number" [(ngModel)]="obj_saldoinicial.credito" (ngModelChange)="calcularTotales()">
                    </td>
                </tr>
            </tbody>
            <tbody class="tablefacts"> <!--Segunda fila-->
                <tr class="infotable">
                    <td class="tamaño2 td">
                        <input class="tamaño2" type="text" name="dato3" required="required" (keydown.enter)="filtrarc2(dato2)" [(ngModel)]="dato2">
                        <span style="color: red;" *ngIf="validar_codigo2 === false">Insertar codigo</span>
                    </td>
                    <td class="codigo tamaño3" style="color: black;" [(ngModel)]="obj_saldoinicial.fo_cuenta2">
                        {{selectedCuenta2}}
                        <span style="color: red;" *ngIf="validar_cuenta2 === false">Insertar cuenta</span>
                    </td>
                    <td  class="codigo tamaño3"  style="color: black;">
                        <input class="tamaño3" name="dato" type="text" required="required" (keydown.enter)="filtrarpro2(pro2)" [(ngModel)]="pro2">
                        <span style="color: red;" *ngIf="validar_proveedor2 === false">Insertar proveedor</span>
                    </td>
                    <td class="tamaño3">
                        <input class="tamaño3" name="descripcion2" type="text" [(ngModel)]="obj_saldoinicial.descripcion2">
                    </td>
                    <td class="tamaño2">
                        <input class="tamaño2" name="debito2" type="number" [(ngModel)]="obj_saldoinicial.debito2" (ngModelChange)="calcularTotales()">
                    </td>
                    <td class="tamaño2">
                        <input class="tamaño2" name="credito2" type="number" [(ngModel)]="obj_saldoinicial.credito2" (ngModelChange)="calcularTotales()">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="formulario" *ngIf="showFormulario === true"><!--Inicio despliegue de cuentas-->
        <table class="tabla__cuenta codigo" (click)="escoger(itemc)" *ngFor="let itemc of cuentas">
            <div class="escoger">
                <tbody>
                    <option>
                        <tr>
                            <th class="tamaño pointer">{{itemc.codigo}}</th>
                        </tr>
                    </option>
                </tbody>
            </div>
            <div class="escoger">
                <tbody>
                    <option>
                        <tr>
                            <th class="pointer">{{itemc.nombre}}</th>
                        </tr>
                    </option>
                </tbody>
            </div>
        </table>
    </div><!--Final despliegue de cuentas-->
    <div class="formulario3" *ngIf="showFormulario2 === true"><!--Inicio despliegue de cuentas-->
        <table class="tabla__cuenta codigo" (click)="escoger2(itemc2)" *ngFor="let itemc2 of cuentas2">
            <div class="escoger">
                <tbody>
                    <option>
                        <tr>
                            <th class="tamaño pointer">{{itemc2.codigo}}</th>
                        </tr>
                    </option>
                </tbody>
            </div>
            <div class="escoger">
                <tbody>
                    <option>
                        <tr>
                            <th class="pointer">{{itemc2.nombre}}</th>
                        </tr>
                    </option>
                </tbody>
            </div>
        </table>
    </div><!--Final despliegue de cuentas-->
    <div class="formulario2" *ngIf="showFormulariopro === true"><!--Inicio despliegue de proveedor-->
        <table class="tabla__cuenta codigo" (click)="escogerpro(itempro)" *ngFor="let itempro of proveedor">
            <div class="escoger">
                <tbody>
                    <option>
                        <tr>
                            <th class="tamaño pointer">{{itempro.razon_social}}{{itempro.nombre + " " + itempro.apellido}}</th>
                        </tr>
                    </option>
                </tbody>
            </div>
        </table>
    </div><!--Final despliegue de proveedor-->
    <div class="formulario4" *ngIf="showFormulariopro2 === true"><!--Inicio despliegue de proveedor-->
        <table class="tabla__cuenta codigo" (click)="escogerpro2(itempro2)" *ngFor="let itempro2 of proveedor">
            <div class="escoger">
                <tbody>
                    <option>
                        <tr>
                            <th class="tamaño pointer">{{itempro2.razon_social}}{{itempro2.nombre + " " + itempro2.apellido}}</th>
                        </tr>
                    </option>
                </tbody>
            </div>
        </table>
    </div><!--Final despliegue de proveedor-->
    <div class="foot">
        <div class="add" id="agregar_celda">
            <i onclick="agregarfila()" class="fa-solid fa-circle-plus pointer"></i>
        </div>
        <div class="secondinfor">
            <div class="total">
                <tr class="total2">
                    <th class="tamaño2">Total</th>
                    <th class="tamaño2" style="color: black;" [(ngModel)]="obj_saldoinicial.total_debito">{{totalDebito}}</th>
                    <th class="tamaño2" [(ngModel)]="obj_saldoinicial.total_credito">{{totalCredito}}</th>
                </tr>
            </div>
            <div class="total">
                <tr class="total2">
                    <th class="tamaño2">Diferencia</th>
                    <th class="tamaño2"> </th>
                    <th class="tamaño2">{{diferencia2}}</th>
                    <span style="color: red;" *ngIf="validar_diferencia === false">La diferencia debe ser 0</span>
                </tr>
            </div>
        </div>
    </div>
</div>
