<app-header></app-header>
<app-nav></app-nav>
<router-outlet></router-outlet>

<!--contenido-->
<div class="facturacompra">
    <h2>Factura de compra N° 001</h2>
        <div class="facturacompracont">
            <span>Proveedor </span>
            <input type="text" required="required" placeholder="Nombre proveedor" class="input-client">
        </div>
        <div class="facturacompracont">
            <span>Fecha de elaboración </span>
            <input type="date" required="required" class="input-date">
        </div>
        <div class="facturacompraconten">
            <div class="usuario">
                <span>Usuario: </span>
                <span class="user">{{nombres + " " + apellidos}}</span>
            </div>
            <div class="imput-secods">
                <button class="button-back-save"> Atrás</button>
                <button class="button-back-save"> Guardar</button>
            </div>
        </div>
        <div class="table fluid">
            <table class="mytable">
                <thead class="tablefact">
                    <tr class="headtable">
                        <th>Código</th>
                    </tr>
                </thead>
                <tbody class="tablefacts">
                    <tr class="infotable">
                        <th><input type="text" required="required"></th>
                    </tr>
                </tbody>
            </table>
            <table class="mytable">
                <thead class="tablefact">
                    <tr class="headtable">
                        <th>Nombre prod</th>
                    </tr>
                </thead>
                <tbody class="tablefacts">
                    <tr class="infotable">
                        <th><input type="text" required="required"></th>
                    </tr>
                </tbody>
            </table>
            <table class="mytable">
                <thead class="tablefact">
                    <tr class="headtable">
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody class="tablefacts">
                    <tr class="infotable">
                        <th><input type="text" required="required"></th>
                    </tr>
                </tbody>
            </table>
            <table class="mytable">
                <thead class="tablefact">
                    <tr class="headtable">
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody class="tablefacts">
                    <tr class="infotable">
                        <th><input type="text" required="required"></th>
                    </tr>
                </tbody>
            </table>
            <table class="mytable">
                <thead class="tablefact">
                    <tr class="headtable">
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody class="tablefacts">
                    <tr class="infotable">
                        <th><input type="text" required="required"></th>
                    </tr>
                </tbody>
            </table>
            <table class="mytable">
                <thead class="tablefact">
                    <tr class="headtable">
                        <th>IVA</th>
                    </tr>
                </thead>
                <tbody class="tablefacts">
                    <tr class="infotable">
                        <th><input type="text"></th>
                    </tr>
                </tbody>
            </table>
            <table class="mytable">
                <thead class="tablefact">
                    <tr class="headtable">
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody class="tablefacts">
                    <tr class="infotable">
                        <th><input type="text"></th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="foot">
            <div class="metodo">
                <div class="add">
                    <i class="fa-solid fa-circle-plus"></i>
                </div>
                <div class="metodopago">
                    <label for="option">Método de pago </label>
                    <select name="metododepago" id="metododepago">
                        <option value="">Crédito</option>
                        <option value="">Efectivo</option>
                        <option value="">Bancolombia</option>
                        <option value="">Davivienda</option>
                    </select>
                </div>
            </div>
            <div class="secondinfor">
                <div class="total">
                    <tr class="total2">
                        <th>Subtotal</th>
                        <th>0.00</th>
                        <th>0.00</th>
                    </tr>
                </div>
                <div class="total">
                    <tr class="total2">
                        <th>IVA</th>
                        <th> </th>
                        <th>0.00</th>
                    </tr>
                </div>
                <div class="total">
                    <tr class="total2">
                        <th>Retenciones</th>
                        <th>
                            <select name="retenciones" id="retenciones">
                                <option value="">Compra 2.5%</option>
                                <option value="">Compra 3.5%</option>
                                <option value="">ReteIVA 15%</option>
                            </select>
                        </th>
                        <th>0.00</th>
                    </tr>
                </div>
                <div class="total">
                    <tr class="total2">
                        <th>Diferencia</th>
                        <th> </th>
                        <th>0.00</th>
                    </tr>
                </div>
            </div>
        </div>
            <textarea resize="none" class="Descripcion" name="Descripción" id="Descripción" cols="90" rows="5" placeholder="Descripción"></textarea>
    </div>   
