<div class="facturacompra" *ngIf="form_compra == false">
    <h2>Factura de compra N° 001</h2>
        <div class="facturacompracont">
            <span>Proveedor </span>
            <input type="text" required="required" placeholder="Nombre proveedor" class="input-client" (keydown.enter)="filtrarpro(dato2)" [(ngModel)]="dato2">
            <span style="color: red;" *ngIf="validar_proveedor === false">Agregar proveedor</span>
        </div>
        <div class="facturacompracont">
            <span>Fecha de elaboración </span>
            <input type="date" required="required" class="input-date" [(ngModel)]="obj_compra.fecha">
        </div>
        <div class="facturacompraconten">
            <div class="usuario">
                <span>Usuario: </span>
                <span class="user">{{nombres + " " + apellidos}}</span>
            </div>
            <div class="imput-secods">
                <button class="button-back-save"> Atrás</button>
                <button class="button-back-save" (click)="validar()"> Guardar</button>
            </div>
        </div>
        <div class="table fluid">
            <table class="mytable">
                <thead class="tablefact">
                    <tr class="headtable">
                        <th class="tamaño2">
                            Código
                        </th>
                        <th class="tamaño3">
                            Producto
                        </th>
                        <th class="tamaño3">
                            Descripción prod
                        </th>
                        <th class="tamaño2">
                            Precio
                        </th>
                        <th class="tamaño2">
                            cantidad
                        </th>
                        <th class="tamaño2">
                            IVA
                        </th>
                        <th class="tamaño2">
                            Total
                        </th>
                    </tr>
                </thead>
                <tbody class="tablefacts">
                    <tr class="infotable">
                        <td class="tamaño2 td">
                            <input class="tamaño2" type="text" required="required" (keydown.enter)="filtrarp(dato)" [(ngModel)]="dato">
                            <span style="color: red;" *ngIf="validar_codigo === false">Insertar codigo</span>
                        </td>
                        <td class="codigo tamaño3" style="color: black;">
                            {{selectedNombre}}
                        </td>
                        <td class="tamaño3">
                            {{selectedDescripcion}}
                        </td>
                        <td class="tamaño2">
                            <input style="text-align: end;" class="tamaño2" type="number" [(ngModel)]="obj_compra.precio_compra" (ngModelChange)="calcularTotales()">
                            <span style="color: red;" *ngIf="validar_precio === false">Agregar precio</span>
                        </td>
                        <td class="tamaño2">
                            <input class="tamaño2" style="text-align: end;" type="number" [(ngModel)]="obj_compra.cantidad" (ngModelChange)="calcularTotales()">
                            <span style="color: red;" *ngIf="validar_cantidad === false">Agregar cantidad</span>
                        </td>
                        <td class="tamaño2" style="text-align: end;">
                            {{iva | currency}}
                        </td>
                        <td class="tamaño2" style="text-align: end;">
                            {{total | currency}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="formulario" *ngIf="showFormulario === true"><!--Inicio despliegue de productos-->
            <table class="tabla__cuenta codigo" (click)="escoger(itemp)" *ngFor="let itemp of producto">
                <div class="escoger">
                    <tbody>
                        <option>
                            <tr>
                                <th class="tamaño pointer">{{itemp.codigo}}</th>
                            </tr>
                        </option>
                    </tbody>
                </div>
                <div class="escoger">
                    <tbody>
                        <option>
                            <tr>
                                <th class="pointer">{{itemp.nombre}}</th>
                            </tr>
                        </option>
                    </tbody>
                </div>
            </table>
        </div><!--Final despliegue de productos-->
        <div class="formulario2" *ngIf="showFormulariocli === true">
            <table class="tabla__cuenta codigo" (click)="escogerpro(itempro)" *ngFor="let itempro of proveedor">
                <div class="escoger">
                    <tbody>
                        <option>
                            <tr>
                                <th class="tamaño pointer">{{itempro.razon_social}}{{itempro.nombre + " " + itempro.apellido}}</th>
                            </tr>
                        </option>
                    </tbody>
                </div>
            </table>
        </div>
        <div class="foot">
            <div class="metodo">
                <div class="add">
                    <i class="fa-solid fa-circle-plus"></i>
                </div>
                <div class="metodopago">
                    <label for="option">Método de pago </label>
                    <select name="tipotercero" id="tipotercero" [(ngModel)]="obj_compra.fo_metodo_pago">
                        <option value="0" label="Seleccione pago" selected disabled></option>
                        <option *ngFor="let itemm of metodo" [value]="itemm.id_metodo_pago">{{itemm.nombre}}</option>
                        <span style="color: red;" *ngIf="validar_metodo_pago === false">Agregar método de pago</span>
                    </select>
                </div>
            </div>
            <div class="secondinfor">
                <div class="total">
                    <tr class="total2">
                        <th>Subtotal neto</th>
                        <th></th>
                        <th>{{compra_total | currency}}</th>
                    </tr>
                </div>
                <div class="total">
                    <tr class="total2">
                        <th>IVA</th>
                        <th> </th>
                        <th>{{iva | currency}}</th>
                    </tr>
                </div>
                <div class="total">
                    <tr class="total2">
                        <th>Retenciones</th>
                        <th>
                            <select name="tipotercero" id="tipotercero" [(ngModel)]="obj_compra.fo_retencion" (ngModelChange)="calcularTotales()">
                                <option value="0" label="Retención" selected disabled></option>
                                <option *ngFor="let itemr of retencion" [value]="itemr.id_retencion">{{itemr.nombre}}</option>
                            </select>
                        </th>
                        <th>{{retefuente | currency}}</th>
                    </tr>
                </div>
                <div class="total">
                    <tr class="total2">
                        <th>Total factura</th>
                        <th> </th>
                        <th>{{total_factura | currency}}</th>
                    </tr>
                </div>
            </div>
    </div>
        <textarea resize="none" class="Descripcion" name="Descripción" id="Descripción" cols="90" rows="5" placeholder="Descripción" [(ngModel)]="obj_compra.descripcion"></textarea>
</div>   

<div class="facturacompra forcompra" id="forcompra" *ngIf="form_compra == false">
    <h2>Factura de compra N° 001</h2>
        <div class="facturacompracont">
            <span>Proveedor</span>
            <span style="font-weight: 100; border: none; padding: 0 10px; border-bottom: solid 1px black; border-radius: 0;" class="input-client">{{selectedProveedor}}</span>
        </div>
        <div class="facturacompracont">
            <span>Fecha de elaboración </span>
            <span class="input-date" style="font-weight: 100;">{{obj_compra.fecha}}</span>
        </div>
        <div class="facturacompraconten">
            <div class="usuario">
                <span>Usuario: </span>
                <span class="user">{{nombres + " " + apellidos}}</span>
            </div>
        </div>
        <div class="table fluid">
            <table class="mytable">
                <thead class="tablefact">
                    <tr class="headtable">
                        <th class="tamaño2">
                            Código
                        </th>
                        <th class="tamaño3">
                            Producto
                        </th>
                        <th class="tamaño3">
                            Descripción prod
                        </th>
                        <th class="tamaño2">
                            Precio
                        </th>
                        <th class="tamaño2">
                            cantidad
                        </th>
                        <th class="tamaño2">
                            IVA
                        </th>
                        <th class="tamaño2">
                            Total
                        </th>
                    </tr>
                </thead>
                <tbody class="tablefacts">
                    <tr class="infotable">
                        <td class="tamaño2 td">
                            {{dato}}
                        </td>
                        <td class="codigo tamaño3" style="color: black;">
                            {{selectedNombre}}
                        </td>
                        <td class="tamaño3">
                            {{selectedDescripcion}}
                        </td>
                        <td class="tamaño2">
                            {{obj_compra.precio_compra | currency}}
                        </td>
                        <td class="tamaño2">
                            {{obj_compra.cantidad}}
                        </td>
                        <td class="tamaño2" style="text-align: end;">
                            {{iva | currency}}
                        </td>
                        <td class="tamaño2" style="text-align: end;">
                            {{total | currency}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="foot">
            <div class="metodo">
                <div class="metodopago">
                    <label for="option">Método de pago </label>
                    <select class="imput2" name="tipotercero" id="tipotercero" [(ngModel)]="obj_compra.fo_metodo_pago" disabled>
                        <option value="0" label="Seleccione pago" selected disabled></option>
                        <option *ngFor="let itemm of metodo" [value]="itemm.id_metodo_pago">{{itemm.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="secondinfor">
                <div class="total">
                    <tr class="total2">
                        <th>Subtotal neto</th>
                        <th></th>
                        <th>{{compra_total | currency}}</th>
                    </tr>
                </div>
                <div class="total">
                    <tr class="total2">
                        <th>IVA</th>
                        <th> </th>
                        <th>{{iva | currency}}</th>
                    </tr>
                </div>
                <div class="total">
                    <tr class="total2">
                        <th>Retenciones</th>
                        <th>
                            <select class="imput2" name="tipotercero" id="tipotercero" [(ngModel)]="obj_compra.fo_retencion" (ngModelChange)="calcularTotales()" disabled>
                                <option value="0" label="Retención" selected disabled></option>
                                <option *ngFor="let itemr of retencion" [value]="itemr.id_retencion">{{itemr.nombre}}</option>
                            </select>
                        </th>
                        <th>{{retefuente | currency}}</th>
                    </tr>
                </div>
                <div class="total">
                    <tr class="total2">
                        <th>Total factura</th>
                        <th> </th>
                        <th>{{total_factura | currency}}</th>
                    </tr>
                </div>
            </div>
    </div>
        <span style="border: solid 1px black; padding: 10px; font-weight: normal;" resize="none" class="Descripcion" name="Descripción" id="Descripción" cols="90" rows="5">
            {{obj_compra.descripcion}}
        </span>
</div>
<div class="imput-secods botones" *ngIf="form_compra == false">
    <button class="button-back-save" (click)="imprimirRecibo()"> Imprimir</button>
    <button class="button-back-save" (click)="generarPDF()"> Descargar</button>
</div>
