<!--contenido-->
<div class="estadoresultados">
    <h2>Estado de resultados</h2>
    <div class="headerbalance">
        <div class="cuentas">
            <div class="cuentainicial">
                <span>Cuenta</span>
                <input type="text" required="required" class="input-producto">
            </div>
            <div class="cuentafinal">
                <span>Cuenta</span>
                <input type="text" required="required" class="input-producto">
            </div> 
        </div>
        <div class="fechas">
            <div class="estadoresultadosconten">
                <span>Fecha inicial </span>
                <input type="date" required="required" class="input-producto">
            </div>
            <div class="estadoresultadosconten">
                <span>Fecha final </span>
                <input type="date" required="required" class="input-producto">
            </div>
        </div>
    </div>
    <div class="buscarbuttom">
        <button class="buscar">Buscar</button>
    </div>
    <div class="export">
        <div class="formato">
            <label> 
                <input type="radio" name="formato" checked>
            </label> Mostrar en pantalla
            <label>
                <input type="radio" name="formato">
            </label> Exportar en PDF 
            <label>
                <input type="radio" name="formato">
            </label> Exportar en Excel
        </div>
        <div class="imput-secods">
            <button class="button-back-save"> Atrás</button>
        </div>
    </div>
    <div class="table fluid">
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th class="tamaño2">
                        Código
                    </th>
                    <th class="tamaño3">
                        Cuenta contable
                    </th>
                    <th class="tamaño2">
                        Débito
                    </th>
                    <th class="tamaño2">
                        Crédito
                    </th>
                    <th class="tamaño2">
                        Saldo
                    </th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable">
                    <td class="tamaño2 td">
                        
                    </td>
                    <td class="codigo tamaño3" style="color: black;">
                        
                    </td>
                    <td  class="codigo tamaño2" style="color: black;">
                        
                    </td>
                    <td class="tamaño2">
                        
                    </td>
                    <td class="tamaño2">
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>