<!--contenido-->
<div class="buscarfactura">
    <h2>Consultar factura</h2>
    <div class="buscarfacturaconten">
        <span>Tipo de factura </span>
        <select name="tipofactura" id="tipofactura" [(ngModel)]="tipo_factura">
            <option value="0" label="Factura" selected disabled></option>
            <option *ngFor="let itemt of tipoFactura" [value]="itemt.id_tipo_factura">{{itemt.nombre}}</option>
        </select>
    </div>
    <div class="buscarfacturaconten">
        <span>Tercero </span>
        <input type="text" required="required" placeholder="Nombre tercero" class="input-producto">
    </div>
    <div class="buscarfacturaconten">
        <span>Fecha inicial </span>
        <input type="date" required="required" class="input-producto">
    </div>
    <div class="buscarfacturacont">
        <span>Fecha final </span>
        <input type="date" required="required" class="input-producto">
        <button class="buscar" (click)="filtro()">Buscar</button>
    </div>
    <div class="export">
        <div class="formato">
            <label> 
                <input type="radio" name="formato" checked>
            </label> Mostrar en pantalla
            <label>
                <input type="radio" name="formato">
            </label> Exportar en PDF 
            <label>
                <input type="radio" name="formato">
            </label> Exportar en Excel
        </div>
        <div class="imput-secods">
            <button class="button-back-save"> Atrás</button>
        </div>
    </div>
    <div class="table fluid">
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>Código</th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable">
                    <th><input type="text" required="required"></th>
                </tr>
            </tbody>
        </table>
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>Documento</th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable">
                    <th><input type="text" required="required"></th>
                </tr>
            </tbody>
        </table>
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>N! documento</th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable">
                    <th><input type="text" required="required"></th>
                </tr>
            </tbody>
        </table>
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable">
                    <th><input type="text" required="required"></th>
                </tr>
            </tbody>
        </table>
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>Tercero</th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable">
                    <th><input type="text" required="required"></th>
                </tr>
            </tbody>
        </table>
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable">
                    <th><input type="text" required="required"></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
