.facturaventa{
    padding: 20px 20px;
    margin-left: 220px;
    margin-top: -571px;
    width: 80vh;
    height: 91vh;
    display: flex;
    flex-direction: column;
    max-width: 80vh;
}

.facturaventa div{
    padding: 4px 0;
}

.facturaventaconten{
    display: flex;
    width: 1040px;
    justify-content: space-between;
}

.input-client{
    border-radius: 5px;
    border: 1px solid;
    width: 230px;
}

.imput-secods{
    width: 180px;
    display: flex;
    justify-content: space-around;
}

.button-back-save{
    background-color: var(--botones);
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 10px;
}

.input-date{
    border: none;
    border-bottom: 1px solid black;
    width: 120px;
}

.table{
  display: flex;
  max-width: 80%
}

.mytable{
    width: 110px;;
}

tr{
    border: none;
}

.mytable th, 
.mytable input,
th{
    width: 146px;
}

.headtable{
    background-color: var(--bs-link-color);
    text-align: center;
}

span{
    font-weight: 650;
}

.user{
    border-bottom: 1px solid black;
    font-weight: 400;
}

.foot{
  display: flex;
  width: 1040px;
  justify-content: space-between;
}

.secondinfor{
  display: flex;
  flex-direction: column;
}

.total{
  width: 450px;
  justify-content: end;
  text-align: end;
}

.metodopago{
    width: 240px;
    display: flex;
    justify-content: space-between;
}

.metododepago{
    width: 100px;
}


/* Estilos para hacer responsive */
@media only screen and (max-width: 600px) {
  .facturaventa{
    margin-left: -150px;
  }

  h2{
    font-size: 19px;
  }

  .facturaventacont input{
    width: 250px;
  }

  .facturaventacont {
    display: flex;
    flex-direction: column;
  }

  .facturaventaconten{
    display: flex;
    flex-direction: column;
  }

  .imput-secods {
    display: flex;
    margin-left: 30px;
  }

  .button-back-save {
    margin-bottom: 10px;
  }

  .mytable {
    overflow-x: auto;
    display: block;
    width: 100%;
  }

  .headtable,
  .infotable {
    display: flex;
    flex-direction: column;
  }

  .table{
    display: flex;
    flex-direction: column;
  }

  .headtable th,
  .infotable td,
  .infotable input {
    width: 230px;
    text-align: center;
  }

  .foot{
    display: flex;
    flex-direction: column;
  }

  .infotable input{
    width: 240px;
    margin-left: -5px;
  }

  .add {
    text-align: start;
    margin-top: -30px;
  }

  .total{
    font-size: 11px;
  }

  .total tr,
  .total th{
    display: flex;
    width: 280px;
  }

  textarea{
    width: 260px;
  }
}