<app-header></app-header>
<app-nav></app-nav>
<router-outlet></router-outlet>

<!--contenido-->
<div class="recibocaja">
    <h2>Recibo de caja N° 001</h2>
        <div class="recibocajacont">
            <span>Cliente </span>
            <input type="text" required="required" placeholder="Nombre cliente" class="input-client">
        </div>
        <div class="recibocajacont">
            <span>Fecha de elaboración </span>
            <input type="date" required="required" class="input-date">
        </div>
        <div class="recibocajaconten">
            <div class="usuario">
                <span>Usuario: </span>
                <span class="user">Kevin Andres Arango</span>
            </div>
            <div class="imput-secods">
                <button class="button-back-save"> Atrás</button>
                <button class="button-back-save"> Guardar</button>
            </div>
        </div>
        <div class="table fluid">
            <table class="mytable">
                <thead class="tablefact">
                    <tr class="headtable">
                        <th>Código</th>
                    </tr>
                </thead>
                <tbody class="tablefacts">
                    <tr class="infotable">
                        <th><input type="text" required="required"></th>
                    </tr>
                </tbody>
            </table>
            <table class="mytable">
                <thead class="tablefact">
                    <tr class="headtable">
                        <th>Cuenta contable</th>
                    </tr>
                </thead>
                <tbody class="tablefacts">
                    <tr class="infotable">
                        <th><input type="text" required="required"></th>
                    </tr>
                </tbody>
            </table>
            <table class="mytable">
                <thead class="tablefact">
                    <tr class="headtable">
                        <th>Tercero</th>
                    </tr>
                </thead>
                <tbody class="tablefacts">
                    <tr class="infotable">
                        <th><input type="text" required="required"></th>
                    </tr>
                </tbody>
            </table>
            <table class="mytable">
                <thead class="tablefact">
                    <tr class="headtable">
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody class="tablefacts">
                    <tr class="infotable">
                        <th><input type="text"></th>
                    </tr>
                </tbody>
            </table>
            <table class="mytable">
                <thead class="tablefact">
                    <tr class="headtable">
                        <th>Débito</th>
                    </tr>
                </thead>
                <tbody class="tablefacts">
                    <tr class="infotable">
                        <th><input type="text"></th>
                    </tr>
                </tbody>
            </table>
            <table class="mytable">
                <thead class="tablefact">
                    <tr class="headtable">
                        <th>Crédito</th>
                    </tr>
                </thead>
                <tbody class="tablefacts">
                    <tr class="infotable">
                        <th><input type="text"></th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="foot">
            <div class="add">
                <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div class="secondinfor">
                <div class="total">
                    <tr class="total2">
                        <th>Total</th>
                        <th>0.00</th>
                        <th>0.00</th>
                    </tr>
                </div>
                <div class="total">
                    <tr class="total2">
                        <th>Diferencia</th>
                        <th> </th>
                        <th>0.00</th>
                    </tr>
                </div>
            </div>
        </div>
</div>

    
