<div class="recibocaja" id="recibocaja">
    <h2>Recibo de caja N° 001</h2>
        <div class="recibocajacont">
            <span>Cliente </span>
            <input type="text" required="required" placeholder="Nombre cliente" class="input-client" (keydown.enter)="filtrarcli(dato2)" [(ngModel)]="dato2">
        </div>
        <div class="formulario2" *ngIf="showFormulariocli === true">
            <table class="tabla__cuenta codigo" (click)="escogercli(itemcli)" *ngFor="let itemcli of cliente">
                <div class="escoger">
                    <tbody>
                        <option>
                            <tr>
                                <th class="tamaño pointer">{{itemcli.nombre + " " + itemcli.apellido}}</th>
                            </tr>
                        </option>
                    </tbody>
                </div>
            </table>
        </div>
        <div class="recibocajacont">
            <span>Fecha de elaboración </span>
            <input type="date" required="required" class="input-date">
        </div>

        <div class="recibocajaconten">
            <div class="usuario">
                <span>Usuario: </span>
                <span class="user">{{nombres + " " + apellidos}}</span>
            </div>
            <div class="imput-secods">
                <button class="button-back-save"> Atrás</button>
                <button class="button-back-save"> Guardar</button>
            </div>
        </div>
        <div class="table fluid">
            <table class="mytable">
                <thead class="tablefact">
                    <tr class="headtable">
                        <th class="tamaño2">
                            Código
                        </th>
                        <th class="tamaño3">
                            Cuenta contable
                        </th>
                        <th class="tamaño3">
                            Tercero
                        </th>
                        <th class="tamaño3">
                            Descripción
                        </th>
                        <th class="tamaño2">
                            Débito
                        </th>
                        <th class="tamaño2">
                            Crédito
                        </th>
                    </tr>
                </thead>
                <tbody class="tablefacts">
                    <tr class="infotable">
                        <td class="tamaño2 td">
                            <input class="tamaño2" type="text" required="required" (keydown.enter)="filtrarc(dato)" [(ngModel)]="dato">
                        </td>
                        <td class="codigo tamaño3" style="color: black;">
                            {{selectedCuenta}}
                        </td>
                        <td  *ngFor="let itemcli of cliente" class="codigo tamaño3" style="color: black;">
                            {{selectedCliente}}
                        </td>
                        <td class="tamaño3">
                            <input class="tamaño3" type="text">
                        </td>
                        <td class="tamaño2">
                            <input class="tamaño2" type="number">
                        </td>
                        <td class="tamaño2">
                            <input class="tamaño2" type="number">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="formulario" *ngIf="showFormulario === true"><!--Inicio despliegue de cuentas-->
            <table class="tabla__cuenta codigo" (click)="escoger(itemc)" *ngFor="let itemc of cuentas">
                <div class="escoger">
                    <tbody>
                        <option>
                            <tr>
                                <th class="tamaño pointer">{{itemc.codigo}}</th>
                            </tr>
                        </option>
                    </tbody>
                </div>
                <div class="escoger">
                    <tbody>
                        <option>
                            <tr>
                                <th class="pointer">{{itemc.nombre}}</th>
                            </tr>
                        </option>
                    </tbody>
                </div>
            </table>
        </div><!--Final despliegue de cuentas-->
        <div class="foot">
            <div class="add" id="agregar_celda">
                <i onclick="agregarfila()" class="fa-solid fa-circle-plus pointer"></i>
            </div>
            <div class="secondinfor">
                <div class="total">
                    <tr class="total2">
                        <th class="tamaño2">Total</th>
                        <th class="tamaño2">0.00</th>
                        <th class="tamaño2">0.00</th>
                    </tr>
                </div>
                <div class="total">
                    <tr class="total2">
                        <th class="tamaño2">Diferencia</th>
                        <th class="tamaño2"> </th>
                        <th class="tamaño2">0.00</th>
                    </tr>
                </div>
            </div>
        </div>
</div>
