<div class="recibocaja" id="recibocaja">
    <h2>Recibo de caja N° 001</h2>
        <div class="recibocajacont">
            <span>Cliente </span>
            <input type="text" required="required" placeholder="Nombre cliente" class="input-client" (keydown.enter)="filtrarcli(dato2)" [(ngModel)]="dato2">
        </div>
        <div class="formulario2" *ngIf="showFormulariocli === true">
            <table class="tabla__cuenta codigo" (click)="escogercli(itemcli)" *ngFor="let itemcli of cliente">
                <div class="escoger">
                    <tbody>
                        <option>
                            <tr>
                                <th class="tamaño pointer">{{itemcli.nombre + " " + itemcli.apellido}}</th>
                            </tr>
                        </option>
                    </tbody>
                </div>
            </table>
        </div>
        <div class="recibocajacont">
            <span>Fecha de elaboración </span>
            <input type="date" required="required" class="input-date">
        </div>

        <div class="recibocajaconten">
            <div class="usuario">
                <span>Usuario: </span>
                <span class="user">{{nombres + " " + apellidos}}</span>
            </div>
            <div class="imput-secods">
                <button class="button-back-save"> Atrás</button>
                <button class="button-back-save"> Guardar</button>
            </div>
        </div>
        <div class="table fluid">
            <table class="mytable">
                <thead class="tablefact">
                    <tr class="headtable">
                        <th class="tamaño">Código</th>
                    </tr>
                </thead>
                <tbody class="tablefacts" id="codeSearchcuenta">
                    <tr class="infotable">
                        <td><input class="tamaño" type="text" required="required" (keydown.enter)="filtrarc(dato)" [(ngModel)]="dato"></td>
                    </tr>
                </tbody>
                <div class="formulario" *ngIf="showFormulario === true">
                    <table class="tabla__cuenta codigo" (click)="escoger(itemc)" *ngFor="let itemc of cuentas">
                        <div class="escoger">
                            <tbody>
                                <option>
                                    <tr>
                                        <th class="tamaño pointer">{{itemc.codigo}}</th>
                                    </tr>
                                </option>
                            </tbody>
                        </div>
                        <div class="escoger">
                            <tbody>
                                <option>
                                    <tr>
                                        <th class="pointer">{{itemc.nombre}}</th>
                                    </tr>
                                </option>
                            </tbody>
                        </div>
                    </table>
                </div>
            </table>
            <table class="mytable">
                <thead class="tablefact">
                    <tr class="headtable">
                        <th class="width tamaño3">Cuenta contable</th>
                    </tr>
                </thead>
                <tbody class="tablefacts">
                    <tr class="infotable">
                        <th class="codigo tamaño3" style="color: black;">{{selectedCuenta}}</th>
                    </tr>
                </tbody>
            </table>
            <table class="mytable">
                <thead class="tablefact">
                    <tr class="headtable">
                        <th class="tamaño3">Tercero</th>
                    </tr>
                </thead>
                <tbody class="tablefacts">
                    <tr class="infotable" *ngFor="let itemcli of cliente">
                        <th class="codigo tamaño3" style="color: black;">{{selectedCliente}}</th>
                    </tr>
                </tbody>
            </table>
            <table class="mytable">
                <thead class="tablefact">
                    <tr class="headtable">
                        <th class="tamaño3">Descripción</th>
                    </tr>
                </thead>
                <tbody class="tablefacts">
                    <tr class="infotable">
                        <th><input class="tamaño3" type="text"></th>
                    </tr>
                </tbody>
            </table>
            <table class="mytable">
                <thead class="tablefact">
                    <tr class="headtable">
                        <th class="tamaño2">Débito</th>
                    </tr>
                </thead>
                <tbody class="tablefacts">
                    <tr class="infotable">
                        <th><input class="tamaño2" type="number" step="0.01" min="0"></th>
                    </tr>
                </tbody>
            </table>
            <table class="mytable">
                <thead class="tablefact">
                    <tr class="headtable">
                        <th class="tamaño2">Crédito</th>
                    </tr>
                </thead>
                <tbody class="tablefacts">
                    <tr class="infotable">
                        <th><input class="tamaño2" type="text"></th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="foot">
            <div class="add" id="agregar_celda">
                <i onclick="agregarfila()" class="fa-solid fa-circle-plus pointer"></i>
            </div>
            <div class="secondinfor">
                <div class="total">
                    <tr class="total2">
                        <th class="tamaño2">Total</th>
                        <th class="tamaño2">0.00</th>
                        <th class="tamaño2">0.00</th>
                    </tr>
                </div>
                <div class="total">
                    <tr class="total2">
                        <th class="tamaño2">Diferencia</th>
                        <th class="tamaño2"> </th>
                        <th class="tamaño2">0.00</th>
                    </tr>
                </div>
            </div>
        </div>
</div>
