.creartercero{
    padding: 20px 20px;
    width: 80vh;
    height: 91vh;
    display: flex;
    flex-direction: column;
    max-width: 80vh;
}

.creartercero div{
    padding: 7px 0;
}

.formulario2{
    margin-top: -95px;
    margin-left: 350px;
}

.codigo{
    font-size: 14px;
    font-family: Arial;
    font-weight: normal;
}

.tamaño{
    max-width: 200px;
}

.tabla__cuenta{
    width: 200px;
    z-index: 1;
    overflow: hidden;
    border: .5px solid rgb(192, 192, 192);
    background-color: white;
    display: flex;

    &:hover{
        background-color: var(--bs-link-color);
        transition: 1s;
    }
}

.imput-secods{
    width: 180px;
    display: flex;
    justify-content: space-around;
}

.creartercerocont{
    display: flex;
    justify-content: space-between;
    width: 700px;
    max-width: 80%;
}

.tipotercero select,
.tipodocumento span{
    margin: 0;
}

select{
    margin: 0 10px;
    border-radius: 5px;
}

.numeroidentificacion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
    max-width: 80%;
}

.numeroidentificacion input{
    margin: 0 4px;
    border: none;
    border-bottom: 1px solid black; 
}

.numero{
    width: 200px;
}

.info{
    width: 100px;
    max-width: 80%;
}

.infotercero{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1030px;
    gap: 10px;
}

.infotercero input{
    border: none;
    border-bottom: 1px solid black;
}

.nombres,
.apellidos,
.direccion,
.ciudad,
.telefono,
.email{
    display: flex;
    flex-direction: column;
    width: 330px;
}

.responsabilidades{
    display: flex;
    width: 600px;
}

span{
    font-weight: 650;
}

.header{
    display: flex;
    justify-content: space-between;
}

.button-back-save{
    background-color: var(--botones);
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 10px;
}

.headtable{
    background-color: var(--bs-link-color);
    text-align: center;
}

/* Estilos para hacer responsive */
@media only screen and (max-width: 900px){
    .infotercero{
        width: 700px;
    }

    .header,
    .creartercerocont{
        min-width: 500px;
    }
}