<!--contenido-->
<div class="creartercero">
    <div class="header">
        <div class="subheader1">
            <h2>Crear proveedor</h2>
        </div>
        <div class="imput-secods">
            <button class="button-back-save"> Atrás</button>
            <button class="button-back-save"> Crear</button>
        </div>       
    </div>
    <div class="creartercerocont">
        <div class="tipotercero">
            <span>Tipo de tercero  </span>
            <select name="tipotercero" id="tipotercero">
                <option value="">Persona Natural</option>
                <option value="">Persona jurídica</option>
            </select>
        </div>
        <div class="tipodocumento">
            <span>Tipo de documento  </span>
            <select name="tipodocumento" id="tipodocumento">
                <option value="">Cédula de ciudadanía</option>
                <option value="">Tarjeta de identidad</option>
                <option value="">Cédula de extranjería</option>
                <option value="">NIT</option>
                <option value="">Documento de extranjería</option>
                <option value="">Pasaporte</option>
            </select>
        </div>
    </div>
    <div class="numeroidentificacion">
        <div class="numero">
            <span>Numero de identificación</span>
            <input type="text" required="required">
        </div>
        <div class="cv">
            <span>CV</span>
            <input type="text" required="required">
        </div>
    </div>   
    <div class="info">
        <div class="infotercero">
            <div class="nombres">
                <span>Nombres</span>
                <input type="text" required="required">
            </div>
            <div class="apellidos">
                <span>Apellidos</span>
                <input type="text" required="required">
            </div>
            <div class="direccion">
                <span>Dirección</span>
                <input type="text" required="required">
            </div>
            <div class="ciudad">
                <span>Ciudad</span>
                <input type="text" required="required">
            </div>
            <div class="telefono">
                <span>Teléfono</span>
                <input type="text" required="required">
            </div>
            <div class="email">
                <span>Correo</span>
                <input type="text" required="required">
            </div>
        </div>
        <div class="responsabilidades">
            <div class="IVA">
                <span class="responsable-iva">Responsable de IVA</span>
                <select name="responsabLeIVA" id="responsabLeIVA">
                    <option value="">si</option>
                    <option value="">No</option>
                </select>
            </div>
            <div class="retencion">
                <span class="autorret">Autorretenedor</span>
                <select name="Autorretenedor" id="Autorretenedor">
                    <option value="">si</option>
                    <option value="">No</option>
                </select>
            </div>
            <div class="contribuyente">
                <span class="gran-contribuyente">Gran contribuyente</span>
                <select name="Grancontribuyente" id="Grancontribuyente">
                    <option value="">si</option>
                    <option value="">No</option>
                </select>
            </div>
        </div>
    </div>
</div>
