.creartercero{
    padding: 20px 20px;
    width: 80vh;
    height: 91vh;
    display: flex;
    flex-direction: column;
    max-width: 80vh;
}

.creartercero div{
    padding: 7px 0;
}

.imput-secods{
    width: 180px;
    display: flex;
    justify-content: space-around;
}

.creartercerocont{
    display: flex;
    justify-content: space-between;
    width: 700px;
    max-width: 80%;
}

select{
    margin: 0;
    border-radius: 5px;
}

.numeroidentificacion{
    display: flex;
    justify-content: space-between;
    width: 700px;
    max-width: 80%;
}

.cv span{
    padding-left: 13px;
}

.numeroidentificacion input{
    margin: 0 5px;
    border: none;
    border-bottom: 1px solid black; 
}

.info{
    width: 100px;
    max-width: 80%;
}

.infotercero{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1030px;
    gap: 10px;
}

.infotercero input{
    border: none;
    border-bottom: 1px solid black;
}

.nombres,
.apellidos,
.direccion,
.ciudad,
.telefono,
.email{
    display: flex;
    flex-direction: column;
    width: 330px;
}

.responsabilidades{
    display: flex;
    width: 600px;
}

span{
    font-weight: 650;
}

.header{
    display: flex;
    justify-content: space-between;
}

.button-back-save{
    background-color: var(--botones);
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 10px;
}

.headtable{
    background-color: var(--bs-link-color);
    text-align: center;
}

/* Estilos para hacer responsive */
@media only screen and (max-width: 600px) {
    .creartercero{
    margin-left: -150px;
    }

    .header{
        display: flex;
        flex-direction: column;
    }

    .containerprod{
        display: flex;
        flex-direction: column;
    }

    .nombreprod,
    .modelo,
    .marca,
    .descripcion{
        display: flex;
        flex-direction: column;
    }

    textarea{
        width: 250px;
    }

    h2{
        font-size: 19px;
    }

    .creartercero input{
        width: 250px;
    }

    .creartercerocont{
        flex-direction: column;
        width: 260px;
        align-items: flex-start;
    }

    .crearterceroconten{
        width: 250px;
    }

    .numeroidentificacion,
    .infotercero,
    .responsabilidades{
        display: flex;
        flex-direction: column;
    }
}
