<app-header></app-header>
<app-nav></app-nav>
<router-outlet></router-outlet>

<!--contenido-->
<div class="balanceprueba">
    <h2>Balance de prueba</h2>
    <div class="headerbalance">
        <div class="cuentas">
            <div class="cuentainicial">
                <span>Cuenta</span>
                <input type="text" required="required" class="input-producto">
            </div>
            <div class="cuentafinal">
                <span>Cuenta</span>
                <input type="text" required="required" class="input-producto">
            </div> 
        </div>
        <div class="fechas">
            <div class="balancepruebaconten">
                <span>Fecha inicial </span>
                <input type="date" required="required" class="input-producto">
            </div>
            <div class="balancepruebaconten">
                <span>Fecha final </span>
                <input type="date" required="required" class="input-producto">
            </div>
        </div>
    </div>
    <div class="terceros">
        <span>¿Listar terceros?</span> 
        <div class="si-no">
            <label> 
                <input type="radio" name="formato">
            </label> Si
            <label>
                <input type="radio" name="formato">
            </label> No 
        </div> 
    </div>
    <div class="buscarbuttom">
        <button class="buscar">Buscar</button>
    </div>
    <div class="export">
        <div class="formato">
            <label> 
                <input type="radio" name="formato">
            </label> Mostrar en pantalla
            <label>
                <input type="radio" name="formato">
            </label> Exportar en PDF 
            <label>
                <input type="radio" name="formato">
            </label> Exportar en Excel
        </div>
        <div class="imput-secods">
            <button class="button-back-save"> Atrás</button>
        </div>
    </div>
    <div class="table fluid">
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>Código</th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable">
                    <th><input type="text" required="required"></th>
                </tr>
            </tbody>
        </table>
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>Cuenta</th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable">
                    <th><input type="text" required="required"></th>
                </tr>
            </tbody>
        </table>
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>Saldo inicial</th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable">
                    <th><input type="text" required="required"></th>
                </tr>
            </tbody>
        </table>
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>Débito</th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable">
                    <th><input type="text" required="required"></th>
                </tr>
            </tbody>
        </table>
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>Crédito</th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable">
                    <th><input type="text" required="required"></th>
                </tr>
            </tbody>
        </table>
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>Saldo final</th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable">
                    <th><input type="text" required="required"></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
