.user__rol{
    min-width: 1050px;
    padding: 0 23px;

    span{
        padding: 0 10px;
    }
}

.user{
    color: white;
}

.nav-item{
    right: 0;
}

@media only screen and (max-width: 900px){
    .navbar-brand,
    .user {
        font-size: 20px;
    }

    .sb-topnav{
        max-width: 840px;
    }

    .user__rol{
        min-width: 500px;
    }
}