<div class="comprobante" *ngIf="form_recibo == false">
    <h2>Comprobante de egreso N° 001</h2>
    <div class="comprobanteconten">
        <span>Proveedor </span>
        <input type="text" required="required" placeholder="Nombre proveedor" class="input-client" (keydown.enter)="filtrarpro(dato2)" [(ngModel)]="dato2">
    </div>
    <div class="formulario2" *ngIf="showFormulariopro === true">
        <table class="tabla__cuenta codigo" (click)="escogerpro(itempro)" *ngFor="let itempro of proveedor">
            <div class="escoger">
                <tbody>
                    <option>
                        <tr>
                            <th class="tamaño pointer">{{itempro.nombre + " " + itempro.apellido}}{{itempro.razon_social}}</th>
                        </tr>
                    </option>
                </tbody>
            </div>
        </table>
    </div>
    <div class="comprobanteconten">
        <span>Fecha de elaboración </span>
        <input type="date" required="required" class="input-date" [(ngModel)]="obj_comprobante.fecha">
        <span style="color: red;" *ngIf="validar_fecha === false">Seleccione la fecha</span>
    </div>
    <div class="comprobantecont">
        <div class="usuario">
            <span>Usuario: </span>
            <span class="user">{{nombres + " " + apellidos}}</span>
        </div>
        <div class="imput-secods">
            <button class="button-back-save"> Atrás</button>
            <button class="button-back-save" (click)="validar()"> Guardar</button>
        </div>
    </div>
    <div class="table fluid">
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th class="tamaño2">
                        Código
                    </th>
                    <th class="tamaño3">
                        Cuenta contable
                    </th>
                    <th class="tamaño3">
                        Tercero
                    </th>
                    <th class="tamaño3">
                        Descripción
                    </th>
                    <th class="tamaño2">
                        Débito
                    </th>
                    <th class="tamaño2">
                        Crédito
                    </th>
                </tr>
            </thead>
            <tbody class="tablefacts"> <!--Primer fila-->
                <tr class="infotable">
                    <td class="tamaño2 td">
                        <input class="tamaño2" name="dato" type="text" required="required" (keydown.enter)="filtrarc(dato)" [(ngModel)]="dato">
                        <span style="color: red;" *ngIf="validar_codigo === false">Insertar codigo</span>
                    </td>
                    <td class="codigo tamaño3" style="color: black;" [(ngModel)]="obj_comprobante.fo_cuenta">
                        {{selectedCuenta}}
                        <span style="color: red;" *ngIf="validar_cuenta === false">Insertar cuenta</span>
                    </td>
                    <td  class="codigo tamaño3"  style="color: black;" [(ngModel)]="obj_comprobante.fo_proveedor">
                        {{selectedProveedor}}{{razon_social}}
                        <span style="color: red;" *ngIf="validar_proveedor === false">Insertar proveedor</span>
                    </td>
                    <td class="tamaño3">
                        <input class="tamaño3" name="descripcion" type="text" [(ngModel)]="obj_comprobante.descripcion">
                    </td>
                    <td class="tamaño2">
                        <input class="tamaño2" name="debito" style="text-align: end;" type="number" [(ngModel)]="obj_comprobante.debito" (ngModelChange)="calcularTotales()">
                    </td>
                    <td class="tamaño2">
                        <input class="tamaño2" name="credito" style="text-align: end;" type="number" [(ngModel)]="obj_comprobante.credito" (ngModelChange)="calcularTotales()">
                    </td>
                </tr>
            </tbody>
            <tbody class="tablefacts"> <!--Segunda fila-->
                <tr class="infotable">
                    <td class="tamaño2 td">
                        <input class="tamaño2" type="text" name="dato3" required="required" (keydown.enter)="filtrarc2(dato3)" [(ngModel)]="dato3">
                        <span style="color: red;" *ngIf="validar_codigo2 === false">Insertar codigo</span>
                    </td>
                    <td class="codigo tamaño3" style="color: black;" [(ngModel)]="obj_comprobante.fo_cuenta2">
                        {{selectedCuenta2}}
                        <span style="color: red;" *ngIf="validar_cuenta2 === false">Insertar cuenta</span>
                    </td>
                    <td  class="codigo tamaño3"  style="color: black;" [(ngModel)]="obj_comprobante.fo_proveedor">
                        {{selectedProveedor}}{{razon_social}}
                        <span style="color: red;" *ngIf="validar_proveedor === false">Insertar proveedor</span>
                    </td>
                    <td class="tamaño3">
                        <input class="tamaño3" name="descripcion2" type="text" [(ngModel)]="obj_comprobante.descripcion2">
                    </td>
                    <td class="tamaño2">
                        <input class="tamaño2" name="debito2" style="text-align: end;" type="number" [(ngModel)]="obj_comprobante.debito2" (ngModelChange)="calcularTotales()">
                    </td>
                    <td class="tamaño2">
                        <input class="tamaño2" name="credito2" style="text-align: end;" type="number" [(ngModel)]="obj_comprobante.credito2" (ngModelChange)="calcularTotales()">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="formulario" *ngIf="showFormulario === true"><!--Inicio despliegue de cuentas-->
        <table class="tabla__cuenta codigo" (click)="escoger(itemc)" *ngFor="let itemc of cuentas">
            <div class="escoger">
                <tbody>
                    <option>
                        <tr>
                            <th class="tamaño pointer">{{itemc.codigo}}</th>
                        </tr>
                    </option>
                </tbody>
            </div>
            <div class="escoger">
                <tbody>
                    <option>
                        <tr>
                            <th class="pointer">{{itemc.nombre}}</th>
                        </tr>
                    </option>
                </tbody>
            </div>
        </table>
    </div><!--Final despliegue de cuentas-->
    <div class="formulario2" *ngIf="showFormulario2 === true"><!--Inicio despliegue de cuentas-->
        <table class="tabla__cuenta codigo" (click)="escoger2(itemc2)" *ngFor="let itemc2 of cuentas2">
            <div class="escoger">
                <tbody>
                    <option>
                        <tr>
                            <th class="tamaño pointer">{{itemc2.codigo}}</th>
                        </tr>
                    </option>
                </tbody>
            </div>
            <div class="escoger">
                <tbody>
                    <option>
                        <tr>
                            <th class="pointer">{{itemc2.nombre}}</th>
                        </tr>
                    </option>
                </tbody>
            </div>
        </table>
    </div><!--Final despliegue de cuentas-->
    <div class="foot">
        <div class="add" id="agregar_celda">
            <i onclick="agregarfila()" class="fa-solid fa-circle-plus pointer"></i>
        </div>
        <div class="secondinfor">
            <div class="total">
                <tr class="total2">
                    <th class="tamaño2">Total</th>
                    <th class="tamaño2" style="color: black;" [(ngModel)]="obj_comprobante.total_debito">{{totalDebito}}</th>
                    <th class="tamaño2" [(ngModel)]="obj_comprobante.total_credito">{{totalCredito}}</th>
                </tr>
            </div>
            <div class="total">
                <tr class="total2">
                    <th class="tamaño2">Diferencia</th>
                    <th class="tamaño2"> </th>
                    <th class="tamaño2">{{diferencia2}}</th>
                    <span style="color: red;" *ngIf="validar_diferencia === false">La diferencia debe ser 0</span>
                </tr>
            </div>
        </div>
    </div>
</div>

<div class="comprobante formcaja" id="formcomprobante" *ngIf="form_recibo == true">
    <h2>comprobante de egreso N° 001</h2>
        <div class="recibocajacont">
            <span>Cliente </span>
            <span style="font-weight: 100;" class="user">{{selectedProveedor}}</span>
        </div>
        <div class="recibocajacont">
            <span>Fecha de elaboración </span>
            <span class="user">{{obj_comprobante.fecha}}</span>
        </div>
        <div class="recibocajaconten">
            <div class="usuario">
                <span>Usuario: </span>
                <span class="user">{{nombres + " " + apellidos}}</span>
            </div>
        </div>
        <div class="table fluid">
            <table class="mytable">
                <thead class="tablefact">
                    <tr class="headtable">
                        <th class="tamaño2 td">
                            Código
                        </th>
                        <th class="tamaño3">
                            Cuenta contable
                        </th>
                        <th class="tamaño3">
                            Tercero
                        </th>
                        <th class="tamaño3">
                            Descripción
                        </th>
                        <th class="tamaño2">
                            Débito
                        </th>
                        <th class="tamaño2">
                            Crédito
                        </th>
                    </tr>
                </thead>
                <tbody class="tablefacts"> <!--Primer fila-->
                    <tr class="infotable">
                        <td class="tamaño2 td">
                            {{dato}}
                        </td>
                        <td class="codigo tamaño3" style="color: black;" [(ngModel)]="obj_comprobante.fo_cuenta">
                            {{selectedCuenta}}
                        </td>
                        <td  class="codigo tamaño3"  style="color: black;" [(ngModel)]="obj_comprobante.fo_proveedor">
                            {{selectedProveedor}}
                        </td>
                        <td class="tamaño3">
                            {{obj_comprobante.descripcion}}
                        </td>
                        <td class="tamaño2" style="text-align: end;">
                            {{obj_comprobante.debito | currency}}
                        </td>
                        <td class="tamaño2" style="text-align: end;">
                            {{obj_comprobante.credito | currency}}
                        </td>
                    </tr>
                </tbody>
                <tbody class="tablefacts"> <!--Segunda fila-->
                    <tr class="infotable">
                        <td class="tamaño2 td">
                            {{dato3}}
                        </td>
                        <td class="codigo tamaño3" style="color: black;" [(ngModel)]="obj_comprobante.fo_cuenta2">
                            {{selectedCuenta2}}
                        </td>
                        <td  class="codigo tamaño3"  style="color: black;" [(ngModel)]="obj_comprobante.fo_proveedor">
                            {{selectedProveedor}}
                        </td>
                        <td class="tamaño3">
                            {{obj_comprobante.descripcion2}}
                        </td>
                        <td class="tamaño2" style="text-align: end;">
                            {{obj_comprobante.debito2 | currency}}
                        </td>
                        <td class="tamaño2" style="text-align: end;">
                            {{obj_comprobante.credito2 | currency}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="foot2">
            <div class="secondinfor">
                <div class="total">
                    <tr class="total2">
                        <th class="tamaño3">Total</th>
                        <th class="tamaño2" style="color: black;" style="text-align: end;">{{totalDebito | currency}}</th>
                        <th class="tamaño2" style="text-align: end;">{{totalCredito | currency}}</th>
                    </tr>
                </div>
                <div class="total">
                    <tr class="total2">
                        <th class="tamaño3">Diferencia</th>
                        <th class="tamaño2"> </th>
                        <th class="tamaño2" style="text-align: end;">{{diferencia2 | currency}}</th>
                    </tr>
                </div>
            </div>
        </div>
</div>

<div class="imput-secods botones" *ngIf="form_recibo == true">
    <button class="button-back-save" (click)="imprimirRecibo()"> Imprimir</button>
    <button class="button-back-save" (click)="generarPDF()"> Descargar</button>
</div>

