.comprobante{
    padding: 20px 20px;
    width: 80vh;
    height: 91vh;
    display: flex;
    flex-direction: column;
    max-width: 80vh;
}

.comprobante div{
    padding: 7px 0;
}

.comprobantecont{
    display: flex;
    width: 1040px;
    justify-content: space-between;
}

.input-client{
    border-radius: 5px;
    border: 1px solid;
    width: 230px;
}

.imput-secods{
    width: 180px;
    display: flex;
    justify-content: space-around;
}


.button-back-save{
    background-color: var(--botones);
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 10px;
}

.input-date{
    border: none;
    border-bottom: 1px solid black;
    width: 120px;
}

.table{
  display: flex;
}

input{
  border: none;
}

//nuevo
.formulario, 
.formulario2{
  position:absolute;
}

.formulario2{
  margin-top: 80px;
}

.formulario{
  margin-top: 250px;
  margin-right: 180px;
}

.pointer{
  cursor: pointer;
}

.tabla__cuenta{
  width: 450px;
  z-index: 1;
  overflow: hidden;
  border: .5px solid rgb(192, 192, 192);
  background-color: white;
  display: flex;

  &:hover{
    background-color: var(--bs-link-color);
    transition: 1s;
  }
}

.tabla__cuenta th{
  cursor: pointer;
}

.codigo{
  font-size: 14px;
  font-family: Arial;
  font-weight: normal;
}

.tama単o{
  max-width: 75px;
}

.tama単o2{
  max-width: 100px;
  min-width: 100px;
}

.tama単o3{
  max-width: 250px;
  min-width: 250px;
}

tr, td{
  border: none;
  max-height: 26px;
  white-space: nowrap;
  overflow: hidden;
}

#formcomprobante {
  width: 100%;
  height: auto;
  overflow: visible;
}

.botones{
  display: flex;
  width: 1050px;
  margin: auto;
  justify-content: center;
  justify-items: center;

  button{
    margin: 20px;
  }
}

.foot2{
  display: flex;
  flex-direction: column;
  justify-items: end;
  margin-left: 500px;
  width: 550px;

  .tama単o2{
    min-width: 150px;
  }
}

.mytable{
  position: relative;
  border-bottom: 1px solid gray;
}

tr{
    border: none;
}

.mytable th, 
.mytable input,
th{
    width: 171px;
}

.headtable{
    background-color: var(--bs-link-color);
    text-align: center;
}

span{
    font-weight: 650;
}

.user{
    border-bottom: 1px solid black;
    font-weight: 400;
}

.foot{
  display: flex;
  width: 1040px;
  justify-content: space-between;
}

.secondinfor{
  display: flex;
  flex-direction: column;
}

.total{
  width: 310px;
  justify-content: end;
  text-align: end;
}

/* Estilos para hacer responsive */
@media only screen and (max-width: 600px) {
  .comprobante{
    margin-left: -150px;
  }

  h2{
    font-size: 19px;
  }

  .comprobantecont input{
    width: 250px;
  }

  .comprobantecont {
    display: flex;
    flex-direction: column;
  }

  .comprobanteconten{
    display: flex;
    flex-direction: column;
  }

  .imput-secods {
    display: flex;
    margin-left: 30px;
  }

  .button-back-save {
    margin-bottom: 10px;
  }

  .mytable {
    overflow-x: auto;
    display: block;
    width: 100%;
  }

  .headtable,
  .infotable {
    display: flex;
    flex-direction: column;
  }

  .table{
    display: flex;
    flex-direction: column;
  }

  .headtable th,
  .infotable td,
  .infotable input {
    width: 230px;
    text-align: center;
  }

  .foot{
    display: flex;
    flex-direction: column;
  }

  .infotable input{
    width: 240px;
    margin-left: -5px;
  }

  .add {
    text-align: start;
    margin-top: -30px;
  }

  .total tr,
  .total th{
    display: flex;
    width: 280px;
  }
}