* {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    background-image: url(../../../img/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 91vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
    z-index: 1; /* Asegura que esté encima de la imagen de fondo */
}

.welcome {
    position: relative;
    z-index: 2; /* Asegura que esté encima de la capa de superposición */
    padding-top: 10px;
}

h1,
span {
    text-align: center;
    color: white;
    font-weight: bold;
}

h1 {
    font-size: 80px;
}

span {
    font-size: 40px;
}

@media only screen and (max-width: 900px){
    span, h1 {
        font-size: 30px;
    }

    .container{
        min-width: 840px;
    }
}