<!--contenido-->
<div class="editarproducto">
    <h2>Editar producto</h2>
    <div class="editarproductocont">
        <span>Producto </span>
        <input type="text" required="required" placeholder="Nombre producto" class="input-producto" [(ngModel)]="dato">
        <button class="buscar" (click)="filtrar(dato)" class="buscar">Buscar</button>
    </div>
    <div class="export">
        <div class="formato">
            <label> 
                <input type="radio" name="formato" checked>
            </label> Mostrar en pantalla
            <label>
                <input type="radio" name="formato">
            </label> Exportar en PDF 
            <label>
                <input type="radio" name="formato">
            </label> Exportar en Excel
        </div>
        <div class="imput-secods">
            <button class="button-back-save"> Atrás</button>
        </div>
    </div>
    <div class="table fluid">
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>Código</th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable" *ngFor="let item of pro || producto" >
                    <td>{{item.codigo}}</td>
            </tbody>
        </table> 
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>Nombre prod</th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable" *ngFor="let item of pro || producto">
                    <td>{{item.nombre}}</td>
                </tr>
            </tbody>
        </table>
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable" *ngFor="let item of pro || producto">
                    <td>{{item.descripcion}}</td>
                </tr>
            </tbody>
        </table>
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>Cant inventario</th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable" *ngFor="let item of pro || producto">
                    <td class="cantidad">
                        <div class="cant1">{{item.cantidad}}</div>
                        <div class="cant2">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
