
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <!--Contabilidad-->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseContabilidad" aria-expanded="false" aria-controls="collapseContabilidad">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-receipt"></i></div>
                        Contabilidad
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseContabilidad" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="recibocaja">Recibo de caja</a>
                            <a class="nav-link" href="comprobanteegreso">Comprobante de egreso</a>
                            <a class="nav-link" href="facturacompra">Factura de compra</a>
                            <a class="nav-link" href="facturaventa">Factura de venta</a>
                            <a class="nav-link" href="notacontable">Notas contables</a>
                            <a class="nav-link" href="ajustecontable">Ajuste contables</a>
                            <a class="nav-link" href="saldoinicial">Saldos iniciales</a>
                        </nav>
                    </div>
                    <!--Inventarios-->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseInventarios" aria-expanded="false" aria-controls="collapseInventarios">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-truck-ramp-box"></i></div>
                        Inventarios
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseInventarios" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="buscarproducto">Buscar producto</a>
                            <a class="nav-link" href="editarproducto">Editar producto</a>
                            <a class="nav-link" href="eliminarproducto">Eliminar producto</a>
                        </nav>
                    </div>
                    <!--Editar factura-->
                    <a class="nav-link" href="editarfactura">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-pen-to-square"></i></div>
                        Editar factura
                    </a>
                    <!--Consultar factura-->
                    <a class="nav-link" href="buscarfactura">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
                        Consultar factura
                    </a>
                    <!--Crear producto-->
                    <a class="nav-link" href="crearproducto">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-cart-plus"></i></div>
                        Crear producto
                    </a>
                    <!--Terceros-->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTerceros" aria-expanded="false" aria-controls="collapseTerceros">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
                        Terceros
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseTerceros" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="crearterceros">Crear cliente</a>
                            <a class="nav-link" href="crearproveedor">Crear proveedor</a>
                            <a class="nav-link" href="crearusuario">Crear usuario</a>
                            <a class="nav-link" href="editarterceros">Editar Tercero</a>
                            <a class="nav-link" href="eliminarterceros">Eliminar Tercero</a>
                        </nav>
                    </div>
                    
                    <!--Reportes-->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseReportes" aria-expanded="false" aria-controls="collapseReportes">
                        <div class="sb-nav-link-icon"><i class="fa-regular fa-folder"></i></div>
                        Reportes
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseReportes" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="balanceprueba">Balance de prueba</a>
                            <a class="nav-link" href="estadoresultado">Estado de resultados</a>
                            <a class="nav-link" href="balancegeneral">Balance general</a>
                            <a class="nav-link" href="libroauxiliarcuenta">Libro auxiliar por cuenta</a>
                            <a class="nav-link" href="libroauxiliartercero">Libro auxiliar por cuenta por tercero</a>
                        </nav>
                    </div>
                    <!--Configuración-->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseConfiguracion" aria-expanded="false" aria-controls="collapseConfiguracion">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-gear"></i></div>
                        Configuración
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseConfiguracion" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="">Configurar usuario</a>
                            <a class="nav-link" href="">Editar datos de la empresa</a>
                            <a class="nav-link" href="">Editar estilo de recibos de caja</a>
                            <a class="nav-link" href="">Editar estilo de comprobantes de egreso</a>
                            <a class="nav-link" href="">Editar estilo de notas contables</a>
                            <a class="nav-link" href="">Editar estilo de facturas</a>
                        </nav>
                    </div>
                </div>
            </div>
        </nav>
    </div>

<div class="navegacion">
    
</div>


