.notacontable{
  padding: 20px 20px;
  width: 80vh;
  height: 91vh;
  display: flex;
  flex-direction: column;
  max-width: 80vh;
}

.notacontable div{
    padding: 7px 0;
}

.notacontablecont{
    display: flex;
    width: 1040px;
    justify-content: space-between;
}

.input-client{
    border-radius: 5px;
    border: 1px solid;
    width: 230px;
}

.imput-secods{
    width: 180px;
    display: flex;
    justify-content: space-around;
}


.button-back-save{
    background-color: var(--botones);
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 10px;
}

.input-date{
    border: none;
    border-bottom: 1px solid black;
    width: 120px;
}

.pointer{
  cursor: pointer;
}

input{
  border: none;
}

//nuevo
.formulario, 
.formulario2{
  position:absolute;
}

.mytable{
  position: relative;
  border-bottom: 1px solid gray;
}

.pointer{
  cursor: pointer;
}

.tabla__cuenta{
  width: 450px;
  z-index: 1;
  overflow: hidden;
  border: .5px solid rgb(192, 192, 192);
  background-color: white;
  display: flex;

  &:hover{
    background-color: var(--bs-link-color);
    transition: 1s;
  }
}

.formulario{
  margin-top: 205px;
  margin-right: 180px;
}

.formulario2{
  margin-top: 205px;
  margin-left: 350px;
}

.formulario3{
  margin-top: 240px;
  margin-right: 180px;
  position: absolute;
  z-index: 1;
}

.formulario4{
  margin-top: 240px;
  margin-left: 350px;
  position: absolute;
  z-index: 1;
}

.tabla__cuenta th{
  cursor: pointer;
}

.codigo{
  font-size: 14px;
  font-family: Arial;
  font-weight: normal;
}

.tamaño{
  max-width: 75px;
}

.tamaño2{
  max-width: 100px;
  min-width: 100PX;
}

.tamaño3{
  max-width: 250px;
  min-width: 250px;
}

.botones{
  display: flex;
  width: 1050px;
  margin: auto;
  justify-content: center;
  justify-items: center;

  button{
    margin: 20px;
  }
}

#formnota {
  width: 100%;
  height: auto;
  overflow: visible;
}

.foot2{
  display: flex;
  flex-direction: column;
  justify-items: end;
  margin-left: 500px;
  width: 550px;

  .tamaño{
    min-width: 150px;
  }

  .tamaño2{
    min-width: 200px;
  }
}

tr, td{
    border: none;
    max-height: 26px;
    white-space: nowrap;
    overflow: hidden;
}

.table{
  display: flex;
}

.mytable{
    width: 110px;
}

tr{
    border: none;
}

.mytable th, 
.mytable input,
th{
    width: 171px;
}

.headtable{
    background-color: var(--bs-link-color);
    text-align: center;
}

span{
    font-weight: 650;
}

.user{
    border-bottom: 1px solid black;
    font-weight: 400;
}

.foot{
  display: flex;
  width: 1040px;
  justify-content: space-between;
  z-index: 0;
}

.secondinfor{
  display: flex;
  flex-direction: column;
}

.total{
  width: 310px;
  justify-content: end;
  text-align: end;
}

/* Estilos para hacer responsive */
@media only screen and (max-width: 900px) {
  .tamaño{
    max-width: 55px;
  }
  
  .tamaño2{
    max-width: 80px;
    min-width: 80px;
  }
  
  .tamaño3{
    max-width: 185px;
    min-width: 185px;
  }

  .user__rol{
    max-width: 500px;
  }

  .navbar-brand{
    max-width: 170px;
  }

  .notacontablecont,
  .foot{
    max-width: 100%;
    min-width: 785px;
  }

  .secondinfor,
  .total{
    width: 240px;
  }
}