<!--Header-->
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="index.html">Logo empresa</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Editar usuario</a></li>
                <li><a class="dropdown-item" href="#!">Cambiar contraseña</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#!">Cerrar sesión</a></li>
            </ul>
        </li>
    </ul>
</nav>
<!--Nav-->
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <!--Contabilidad-->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseContabilidad" aria-expanded="false" aria-controls="collapseContabilidad">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-receipt"></i></div>
                        Contabilidad
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseContabilidad" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="recibocaja">Recibo de caja</a>
                            <a class="nav-link" href="comprobanteegreso">Comprobante de egreso</a>
                            <a class="nav-link" href="facturacompra">Factura de compra</a>
                            <a class="nav-link" href="facturaventa">Factura de venta</a>
                            <a class="nav-link" href="notacontable">Notas contables</a>
                            <a class="nav-link" href="ajustecontable">Ajuste contables</a>
                            <a class="nav-link" href="saldoinicial">Saldos iniciales</a>
                        </nav>
                    </div>
                    <!--Inventarios-->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseInventarios" aria-expanded="false" aria-controls="collapseInventarios">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-truck-ramp-box"></i></div>
                        Inventarios
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseInventarios" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="buscarproducto">Buscar producto</a>
                            <a class="nav-link" href="editarproducto">Editar producto</a>
                            <a class="nav-link" href="eliminarproducto">Eliminar producto</a>
                        </nav>
                    </div>
                    <!--Editar factura-->
                    <a class="nav-link" href="editarfactura">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-pen-to-square"></i></div>
                        Editar factura
                    </a>
                    <!--Consultar factura-->
                    <a class="nav-link" href="buscarfactura">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
                        Consultar factura
                    </a>
                    <!--Crear producto-->
                    <a class="nav-link" href="crearproducto">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-cart-plus"></i></div>
                        Crear producto
                    </a>
                    <!--Terceros-->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTerceros" aria-expanded="false" aria-controls="collapseTerceros">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
                        Terceros
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseTerceros" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="crearterceros">Crear tercero</a>
                            <a class="nav-link" href="editarterceros">Editar tercero</a>
                            <a class="nav-link" href="eliminarterceros">Eliminar tercero</a>
                        </nav>
                    </div>
                    <!--reportes-->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseReportes" aria-expanded="false" aria-controls="collapseReportes">
                        <div class="sb-nav-link-icon"><i class="fa-regular fa-folder"></i></div>
                        Reportes
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseReportes" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="balanceprueba">Balance de prueba</a>
                            <a class="nav-link" href="estadoresultado">Estado de resultados</a>
                            <a class="nav-link" href="balancegeneral">Balance general</a>
                            <a class="nav-link" href="libroauxiliarcuenta">Libro auxiliar por cuenta</a>
                            <a class="nav-link" href="libroauxiliartercero">Libro auxiliar por cuenta por tercero</a>
                        </nav>
                    </div>
                    <!--Configuración-->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseConfiguracion" aria-expanded="false" aria-controls="collapseConfiguracion">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-gear"></i></div>
                        Configuración
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseConfiguracion" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="">Configurar usuario</a>
                            <a class="nav-link" href="">Editar datos de la empresa</a>
                            <a class="nav-link" href="">Editar estilo de recibos de caja</a>
                            <a class="nav-link" href="">Editar estilo de comprobantes de egreso</a>
                            <a class="nav-link" href="">Editar estilo de notas contables</a>
                            <a class="nav-link" href="">Editar estilo de facturas</a>
                        </nav>
                    </div>
                </div>
            </div>
        </nav>
    </div>
<!--contenido-->
<div class="notacontable">
    <h2>Nota contable N° 001</h2>
    <div class="notacontableconten">
        <span>Fecha de elaboración </span>
        <input type="date" required="required" class="input-date">
    </div>
    <div class="notacontablecont">
        <div class="usuario">
            <span>Usuario: </span>
            <span class="user">Kevin Andres Arango</span>
        </div>
        <div class="imput-secods">
            <button class="button-back-save"> Atrás</button>
            <button class="button-back-save"> Guardar</button>
        </div>
    </div>
    <div class="table">
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>Código</th>
                    <th>Cuenta contable</th>
                    <th>Tercero</th>
                    <th>Descripción</th>
                    <th>Débito</th>
                    <th>Crédito</th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable">
                    <th><input type="text" required="required"></th>
                    <th><input type="text" required="required"></th>
                    <th><input type="text" required="required"></th>
                    <th><input type="text"></th>
                    <th><input type="text"></th>
                    <th><input type="text"></th>
                </tr>
            </tbody>
        </table>
        <div class="add">
            <i class="fa-solid fa-circle-plus"></i>
        </div>
        <div class="secondinfor">
            <div class="total">
                <tr class="total2">
                    <th>Total</th>
                    <th>0.00</th>
                    <th>0.00</th>
                </tr>
            </div>
            <div class="total">
                <tr class="total2">
                    <th>Diferencia</th>
                    <th> </th>
                    <th>0.00</th>
                </tr>
            </div>
        </div>
    </div>
</div>
