.creartercero{
  padding: 20px 20px;
  width: 80vh;
  height: 91vh;
  display: flex;
  flex-direction: column;
  max-width: 80vh;
}

.creartercero div{
  padding: 7px 0;
}

.imput-secods{
  width: 180px;
  display: flex;
  justify-content: space-around;
}

.creartercerocont{
  display: flex;
  justify-content: space-between;
  width: 700px;
  max-width: 80%;
}

select{
  margin: 0;
  border-radius: 5px;
}

.numeroidentificacion input{
  margin: 0 5px;
  border: none;
  border-bottom: 1px solid black; 
}

.info{
  width: 100px;
  max-width: 80%;
}

.infotercero{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1030px;
  gap: 10px;
}

.infotercero input{
  border: none;
  border-bottom: 1px solid black;
}

.nombres,
.apellidos,
.email,
.usuario,
.contraseña{
  display: flex;
  flex-direction: column;
  width: 450px;
}

.responsabilidades{
  display: flex;
  width: 600px;
}

span{
  font-weight: 650;
}

.header{
  display: flex;
  justify-content: space-between;
}

.button-back-save{
  background-color: var(--botones);
  color: white;
  padding: 0.2rem 1rem;
  border-radius: 10px;
}

.headtable{
  background-color: var(--bs-link-color);
  text-align: center;
}

/* Estilos para hacer responsive */
@media only screen and (max-width: 900px){
  .infotercero{
      width: 700px;
  }

  .header{
      min-width: 500px;
  }

  .nombres,
  .apellidos,
  .email,
  .usuario{
      width: 320px;
  }
}