.editartercero{
    padding: 20px 20px;
    height: 91vh;
    display: flex;
    flex-direction: column;
}

.editartercero div{
    padding: 7px 0;
}

.export{
    display: flex;
    justify-content: space-between;
}

.input-tercero{
    border-radius: 5px;
    border: 1px solid;
    width: 230px;
}

.editartercerocont{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formato{
    width: 460px;
    display: flex;
    justify-content: space-between;
}

.imput-secods{
    width: 180px;
    display: flex;
    justify-content: space-around;
}

.button-back-save,
.buscar{
    background-color: var(--botones);
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 10px;
}

.table{
    display: flex;
  }
  
.mytable{
    width: 275px;
}

tr{
    border: none;
}

.mytable th, 
.mytable input,
th{
    font-size: 14px;
    width: 273px;
}

.headtable{
    background-color: var(--bs-link-color);
    text-align: center;
}

span{
    font-weight: 650;
}

/* Estilos para hacer responsive */
@media only screen and (max-width: 600px) {
    .editartercero{
      margin-left: -150px;
    }
  
    h2{
      font-size: 19px;
    }
  
    .editartercero input{
      width: 250px;
    }

    .editartercerocont{
        flex-direction: column;
        width: 260px;
        align-items: flex-start;
    }

    .formato{
        display: flex;
        flex-direction: column;
    }

    label{
        display: flex;
        flex-direction: row;
        margin-bottom: -20px;
        margin-left: 50px;
    }
  
    .mytable {
      overflow-x: auto;
      display: block;
      width: 100%;
    }

    .headtable{
        width: 248px;
    }
  
    .headtable,
    .infotable {
      display: flex;
      flex-direction: column;
    }
  
    .table{
      display: flex;
      flex-direction: column;
    }
  
    .headtable th,
    .infotable td,
    .infotable input {
      width: 200px;
      text-align: center;
    }
  
    .infotable input{
      width: 240px;
      margin-left: -5px;
    }
  }