<!--contenido-->
<div class="editartercero">
    <h2>Editar tercero</h2>
    <div class="editartercerocont">
        <span>Tercero </span>
        <input type="text" required="required" placeholder="Nombre tercero" class="input-tercero">
        <button class="buscar">Buscar</button>
    </div>
    <div class="export">
        <div class="formato">
            <label> 
                <input type="radio" name="formato" checked>
            </label> Mostrar en pantalla
            <label>
                <input type="radio" name="formato">
            </label> Exportar en PDF 
            <label>
                <input type="radio" name="formato">
            </label> Exportar en Excel
        </div>
        <div class="imput-secods">
            <button class="button-back-save"> Atrás</button>
        </div>
    </div>
    <div class="table fluid">
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>
                        Identificación
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        dirección
                    </th>
                    <th>
                        Teléfono
                    </th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable">
                    <td>
                        
                    </td>
                    <td >
                        
                    </td>
                    <td>
                        
                    </td>
                    <td class="cantidad">
                        <div class="cant1"></div>
                        <div class="cant2">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
