<!--contenido-->
<div class="editartercero">
    <h2>Editar tercero</h2>
    <div class="editartercerocont">
        <span>Tercero </span>
        <input type="text" required="required" placeholder="Nombre tercero" class="input-tercero">
        <button class="buscar">Buscar</button>
    </div>
    <div class="export">
        <div class="formato">
            <label> 
                <input type="radio" name="formato">
            </label> Mostrar en pantalla
            <label>
                <input type="radio" name="formato">
            </label> Exportar en PDF 
            <label>
                <input type="radio" name="formato">
            </label> Exportar en Excel
        </div>
        <div class="imput-secods">
            <button class="button-back-save"> Atrás</button>
        </div>
    </div>
    <div class="table fluid">
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>Identificación</th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable">
                    <th><input type="text" required="required"></th>
                </tr>
            </tbody>
        </table>
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable">
                    <th><input type="text" required="required"></th>
                </tr>
            </tbody>
        </table>
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>dirección</th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable">
                    <th><input type="text"></th>
                </tr>
            </tbody>
        </table>
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>Teléfono</th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable">
                    <th><input type="text"></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
