<app-header></app-header>
<app-nav></app-nav>
<router-outlet></router-outlet>

<!--contenido-->
<div class="buscarproducto">
    <h2>Buscar producto</h2>
    <div class="buscarproductocont">
        <span>Producto </span>
        <input type="text" required="required" placeholder="Nombre producto" class="input-producto" [(ngModel)]="dato">
        <button type="submit" (click)="filtro(dato)"  class="buscar">Buscar</button>
    </div>
    <div class="export">
        <div class="formato">
            <label> 
                <input type="radio" name="formato">
            </label> Mostrar en pantalla
            <label>
                <input type="radio" name="formato">
            </label> Exportar en PDF 
            <label>
                <input type="radio" name="formato">
            </label> Exportar en Excel
        </div>
        <div class="imput-secods">
            <button class="button-back-save"> Atrás</button>
        </div>
    </div>
    <div class="table fluid">
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>Código</th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable" *ngFor="let item of producto" >
                    <td>{{item.codigo}}</td>
                </tr>
            </tbody>
        </table>
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>Nombre prod</th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable" *ngFor="let item of producto">
                    <td>{{item.nombre}}</td>
                </tr>
            </tbody>
        </table>
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable" *ngFor="let item of producto">
                    <td>{{item.descripcion}}</td>
                </tr>
            </tbody>
        </table>
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>Cant inventario</th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable" *ngFor="let item of producto">
                    <td>{{item.cantidad}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

