<!--contenido-->
<div class="buscarproducto">
    <h2>Buscar producto</h2>
    <div class="buscarproductocont">
        <span>Producto </span>
        <input type="text" required="required" placeholder="Nombre producto" class="input-producto" [(ngModel)]="dato">
        <button type="submit" (click)="filtrar(dato)"  class="buscar">Buscar</button>
    </div>
    <div class="export">
        <div class="formato">
            <label> 
                <input type="radio" name="formato" checked>
            </label> Mostrar en pantalla
            <label>
                <input type="radio" name="formato">
            </label> Exportar en PDF 
            <label>
                <input type="radio" name="formato">
            </label> Exportar en Excel
        </div>
        <div class="imput-secods">
            <button class="button-back-save"> Atrás</button>
        </div>
    </div>
    <div class="table fluid">
        <table class="mytable">
            <thead class="tablefact">
                <tr class="headtable">
                    <th>
                        Código
                    </th>
                    <th>
                        Producto
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Cantidad Inv
                    </th>
                </tr>
            </thead>
            <tbody class="tablefacts">
                <tr class="infotable" *ngFor="let item of pro || producto">
                    <td>
                        {{item.codigo}}
                    </td>
                    <td >
                        {{item.nombre}}
                    </td>
                    <td>
                        {{item.descripcion}}
                    </td>
                    <td>
                        {{item.cantidad}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


